{% extends "base.html" %}
{% block title %} PyTea - Forgot Password{% endblock %}

{% block content %}
{% from "includes/form_helper.html" import render_field %}
<script>
  nav = document.getElementsByClassName("nav-link");
  nav[0].classList.remove("active");
  nav[1].classList.remove("active");
  nav[2].classList.remove("active");
  nav[3].classList.remove("active");
</script>

{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger alter-dismissable fade show" role="alert">
         {{ message }}
         <button class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span> 
         </button>
      </div>
      {% endfor %}
   {% endif %}
{% endwith %}

<style>
      .forgot-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

  .forgot-form form {
        max-width: 400px;
        width: 100%;
    }

  /* Adjust the button and input size to match */
  .form-control,
  .btn-primary {
      width: 100%;
  }

</style>

<main class="container" style="max-width: 500px;">
    <div class="header">
        <h1 class="display-4" style="text-align: center; padding: 3rem 1.5rem 0;">Forgot Password</h1>
        <p style="text-align: center; padding: 0rem 1.5rem 2rem;">Please enter your registered email</p>
    </div>
    <div class="forget-form">
        <form method="POST" action="" class="row g-2">
            <div class="col-md-12">
                <label for="email">Email</label>
            <input type="text" name="email" class="form-control" id="email">
        </div>
        <div class="col-md-12" > </div>
            <input type="submit" value="Send Email" class="btn btn-primary"/>
        </form>
    </div>
</main>
{% endblock %}