{% extends "base.html" %}
{% block title %} PyTea - Terms and Condition {% endblock %}

{% block content %}
<script>
    nav = document.getElementsByClassName("nav-link");
    nav[0].classList.remove("active");
    nav[1].classList.remove("active");
    nav[2].classList.remove("active");
    nav[3].classList.remove("active")
</script>
<style>
    .header {
        padding: 7rem 1.5rem;
        text-align: center;
    }
    #lead {
        font-size: 1 rem;
        font-weight: 200;
        text-align: center;
        padding: 0rem 2.5rem;
    }

</style>
<div class="header">
    <h1>Terms & Condition </h1>
        <p class="container" id="lead">
            Please read these Terms and Conditions ("Agreement") carefully before using the Pytea website or mobile application ("Service"). This Agreement sets forth the legally binding terms and conditions for your use of the Service provided by Pytea.
        </p>
</div>
<section class="container" >
      <h3>1. Acceptance of Terms </h3>
      By accessing or using the Service, you agree to be bound by this Agreement. If you do not agree to these terms and conditions, please refrain from using the Service.
      <br><br>

      <h3>2. Place of jurisdiction / applicable law</h3>

      The place of jurisdiction for any disputes arising from this Contract shall be Visp in the Canton of Valais, unless any other mandatory place of jurisdiction is stipulated by law.

      All contractual agreements and those regarding reservations, any supplementary agreements and general terms and conditions shall be governed solely by Singapore law. The place of performance and payment shall be the registered office of the Hotel.
      <br><br>
      <h3>3. Privacy and Personal Data Protection</h3>
      Pytea is committed to protecting your privacy and personal data. We comply with the Personal Data Protection Act (PDPA) and will only collect, use, and disclose your personal information in accordance with our Privacy Policy.

      <br><br>
      <h3>4. Collection and Use of Personal Data</h3>
      <br>
      <h5>4.1 Personal Information</h5>
      To provide our services, we may collect personal information, including but not limited to your name, contact details, and payment information. We will only collect personal data that is necessary and relevant for the purposes specified in this Agreement.
      <br><br>
      <h5>4.2 Use of Personal Data</h5>
      We may use your personal data for the following purposes:
      <ul>
        <li>Processing and fulfilling your orders</li>
        <li>Improving our products and services</li>
        <li>Communicating with you regarding promotions, updates, and news about our offerings</li>
        <li>Conducting market research and analysis</li>
        <li>Complying with legal obligations</li>
      </ul>

      <h3>5. Disclosure of Personal Data</h3>
      We will not disclose your personal data to third parties without
      your consent, except as required by law or when necessary to provide
      our services. However, we may share your personal data with our trusted
      service providers who assist us in operating our business and providing the Service, subject to strict confidentiality obligations.

      <br><br>
      <h3>6. Period of use</h3>

      Without prejudice to other agreements, the Guest is entitled to use the rented rooms from 1500 hours on the agreed day of arrival until 1200 hours on the day of departure (1100 hours for groups).

      If vacation of the bedroom by the Guest is delayed the Hotel may bill CHF 40 per hour, or if delayed by four hours or more a minimum of 50% of the full accommodation price (list price) for use in excess of the contractually specified period. In this case, no justified contractual entitlements are created for the Guest to continue using the premises in the ordinary manner; this is without prejudice to the assertion of claims for compensatory damages. In case of delayed vacation of the room, the Hotel reserves the right to remove the Guest’s belongings from the room and to keep them at a suitable location in the Hotel in return for a charge.
      <br><br>
      <h3>7. Security</h3>
      We take reasonable measures to protect your personal data from unauthorized access, alteration, disclosure, or destruction. However, no data transmission over the internet or electronic storage system can be guaranteed as completely secure. Therefore, we cannot ensure or warrant the security of any information you transmit to us, and you do so at your own risk.
     <br><br>

      <h3>8. Means of payment accepted</h3>

      Bank transfers, Cash payments, Maestro, Postcard, Visa, Mastercard, American Express, Paylah, Paynow, Debit Card. Please note that no personal cheques can be accepted; we ask for your understanding in this matter.

      <br><br>
      <h3>9. Information on credit cards</h3>

      Credit card data are treated as confidential. No charges are debited in advance unless stated otherwise in the reservation conditions. The credit card is used merely to guarantee the booking. The Hotel reserves the right to carry out a credit card authorisation prior to arrival.

      If Guests do not arrive or a cancellation is made, any due amount (see the “Conditions of cancellation”) will be charged. By accepting the GTC in the confirmation, you permit us to charge such amount to the credit card you have indicated.

      We recommend you to take out cancellation insurance for eventualities such as accidents, sickness, delayed arrival or early departure.
      <br><br>

</section>
{% endblock %}